.DS_Store
.metadata
.classpath
.project
.mvn
data/
**/names.txt
*.class
**/node_modules/
**/RemoteSystemsTempFiles/
**/Servers/
**/target/
**/.settings/
**/.vscode/
**/obj/
**/bin/
vendor/
ru-todopad/target/
